/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background-color: #272822;
  font-size: 14px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: #f8f8f2;
}
input {
  font-size: 14px;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4, .h4 {
  font-size: 1.5rem;
}
h5, .h5 {
  font-size: 1.2rem;
}
small {
  font-size: 0.75rem;
}

.bg-dark-grey {
  background-color: #1a1a16;
}
.bb-light-grey {
  border-bottom: 1px #787c6a solid;
}
.bb-blue {
  border-bottom: 1px hsl(190, 81%, 67%) solid;
}
.bb-off-white {
  border-bottom-color: 2px #f8f8f2 solid;
}
.light-grey {
  color: #787c6a;
}
.offwhite {
  color: #f8f8f2;
}
.blue {
  color: hsl(190, 81%, 67%);
}
.tab {
  margin-left: 12px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  background-color: #272822;
  padding: 6px 8px 6px 16px;
  cursor: pointer;
}

.tab .tab__link {
  color: #F8F8F2;
  text-decoration: none;
  margin-right: 8px;
  cursor: pointer;
}
